---
import BaseLayout from "./baseLayout.astro";
import Greeting from "../components/Greeting";
const { frontmatter } = Astro.props;
---
<BaseLayout>
    <section class='c-section'>
        <div class='o-50/50'>
            <figure class='o-frame parallax' data-label='MF0:001//Micro Construct Tactics Nova »'><img src={frontmatter.heroImage} /></figure>
            <h1>{frontmatter.title}</h1>
        </div>
    </section>
    <section class='c-section'>
        <div class='o-50/50'>
            <div class='o-flow--xl'>
                <h3>{frontmatter.introTitle}</h3>
                <p set:html={frontmatter.introText} />
            </div>
            <div>img</div>
        </div>
    </section>
    <section class='c-section'>
        <div class='o-50/50'>
            <h2>{frontmatter.gettingStartedTitle}</h2>
            <p set:html={frontmatter.gettingStartedText} />
        </div>
    </section>
    <slot />
    <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari", "Hi", "Hello", "Howdy", "Hey there"]} />
</BaseLayout>